@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

body {
    padding: 0;
    margin: 0;
    font-family: "Roboto";
}

.wrapper {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.banner__wrapper {
    position: relative;
    display: flex;
    max-height: 77px;
    gap: 20px;
}
picture {
    display: flex;
}

.image-sticky-bottom {
    align-self: end;
}

.image-sticky-center {
    align-self: center;
}

.image-centered {
    margin-left: 50px;
}

.banner__control {
    position: absolute;
    top: 3px;
    right: 10px;
    width: 14px;
    height: 14px;
    cursor: pointer;
}

.banner__content {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    align-items: center;
    width: 100%;
    gap: 20px;
}

.banner__img {
    position: relative;
    bottom: 0;
    width: auto;
    height: 67px;
}

.biology__img {
    width: auto;
    height: 87px;
}

.offset-0 {
    position: relative;
    bottom: 0;
}

.offset-1 {
    position: relative;
    bottom: 20px;
}

.banner__title {
    font-size: 28px;
    font-weight: bold;
    max-width: 505px;
}

.banner__date {
    font-size: 20px;
    /* max-width: 150px; */
}

.banner__button {
    text-decoration: none;
    padding: 10px 40px;
    border-radius: 4px;
    font-size: 18px;
    margin-right: 50px;
    transition: all 0.3s ease-in-out;
}

.banner__button:hover {
    filter: brightness(0.8);
}

.blue-bg {
    background-color: #d5eefd;
}

.green-bg {
    background-color: rgb(236, 252, 213);
}

.purple-bg {
    background-color: #e4d3ff;
}

.intensive-yellow-bg {
    background-color: #ffda00;
}

.black-bg {
    background-color: #000;
    color: #fff;
}

.light-yellow-bg {
    background-color: #f8e181;
}

.blue-btn {
    background-color: #a9d6fd;
    color: #000;
}

.yellow-btn {
    background-color: #ffda00;
    color: #000;
}

.red-btn {
    background-color: #ff3130;
    color: #fff;
}

.animated {
    opacity: 0;
    transform: translateX(-100%);
    transition: all 1s ease-in-out;
}

.fade-left {
    opacity: 1;
    transform: translateX(0);
}

@media (max-width: 1024px) {
    /* .banner__wrapper {
        max-height: none;
    } */
    .banner__title {
        font-size: 21px;
    }
    .banner__date {
        font-size: 18px;
    }

    .banner__button {
        font-size: 16px;
        padding: 5px 20px;
    }
}

@media (max-width: 800px) {
    .banner__title {
        font-size: 18px;
    }
    .banner__date {
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    .banner__img {
        height: 67px;
        width: auto;
        object-fit: contain;
    }

    .biology__img {
        height: 67px;
    }

    .offset-1 {
        bottom: 0;
    }
    .banner__title {
        font-size: 16px;
    }
    .banner__date {
        font-size: 14px;
    }

    .banner__title > br {
        display: none;
    }
    .banner__button {
        font-size: 14px;
        padding: 5px 15px;
    }
}

@media (max-width: 576px) {
    .banner__wrapper {
        padding: 0 10px 0 0;
        gap: 10px;
        max-height: 57px;
    }
    .banner__content {
        justify-content: flex-end;
        gap: 10px;
    }
    .banner__img {
        height: 47px;
        position: relative;
        /* margin-left: -30px; */
    }

    .banner__img--left {
        margin-left: -50px;
    }

    picture {
        /* width: 102px;
        height: 67px;
        overflow: hidden;
        position: relative; */
    }

    .banner__title > br {
        display: none;
    }
    .banner__title {
        font-size: 14px;
        max-width: 300px;
        position: relative;
        z-index: 3;
    }
    .banner__date {
        font-size: 12px;
    }

    .banner__date > br {
        display: none;
    }

    .banner__button {
        font-size: 12px;
        padding: 4px 10px;
        margin-right: 0;
    }

    .image-centered {
        margin-left: 0;
    }

    .banner__control {
        display: none;
    }

    /* .img-1 {
        background-image: url("./img/1.png");
        background-repeat: no-repeat;
        background-position: -15% 0;
        background-size: 160px 67px;
    }
    .img-2 {
        background-image: url("./img/2.png");
        background-repeat: no-repeat;
        background-position: -5% 0;
        background-size: 160px 67px;
    }

    .img-3 {
        background-image: url("./img/3.png");
        background-repeat: no-repeat;
        background-position: -20% 0;
        background-size: 160px 67px;
    }

    .img-4 {
        background-image: url("./img/4.png");
        background-repeat: no-repeat;
        background-position: -10% 0;
        background-size: 160px 67px;
    }

    .img-5 {
        background-image: url("./img/5.png");
        background-repeat: no-repeat;
        background-position: -15% 0;
        background-size: 160px 67px;
    }

    .img-6 {
        background-image: url("./img/6.png");
        background-repeat: no-repeat;
        background-position: -5% 0;
        background-size: 160px 67px;
    }

    .img-7 {
        background-image: url("./img/7.png");
        background-repeat: no-repeat;
        background-position: -5% 0;
        background-size: 160px 67px;
    }

    .img-8 {
        background-image: url("./img/8.png");
        background-repeat: no-repeat;
        background-position: -5% 0;
        background-size: 160px 67px;
    }

    .img-9 {
        background-image: url("./img/9.png");
        background-repeat: no-repeat;
        background-position: -5% 0;
        background-size: 160px 67px;
    }

    .img-10 {
        background-image: url("./img/10.png");
        background-repeat: no-repeat;
        background-position: -8% center;
        background-size: 160px 67px;
    }

    .img-11 {
        background-image: url("./img/10.png");
        background-repeat: no-repeat;
        background-position: -8% center;
        background-size: 160px 67px;
    }

    .img-12 {
        background-image: url("./img/12.png");
        background-repeat: no-repeat;
        background-position: -5% center;
        background-size: 160px 67px;
    } */
}

@media (max-width: 550px) {
    /* .banner__content {
        justify-content: center;
        gap: 0;
    }
    .banner__title {
        width: fit-content;
        margin-right: -10px;
    } */
}

@media (max-width: 370px) {
    .banner__wrapper {
        gap: 0;
    }
    .banner__img--left {
        margin-left: -55px;
    }
}
